body {
    margin: 0;
}

hr {
    height: 0;
    overflow: visible;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
    margin: 0;
    padding: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
select {
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

textarea {
    margin: 0;
    overflow: auto;
}

legend {
    padding: 0;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

:-moz-focusring {
    outline: 1px dotted ButtonText;
}

main {
    display: block;
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}


/* Tells the browser to account for any border and 
  padding in the values you specify for an element's 
  width and height. */
*,
*::before,
*::after {
    box-sizing: border-box;
}
